@model List<Product> 
@{
    ViewBag.Title = "Listing";
}
<form method="post" >
    <input id="searchTxt" name="search"/>
    <button id="searchBtn" type="button">Search</button>
</form>

<div >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                @*<th scope="col">Description</th>*@
                <th scope="col">Action</th>
                <th scope="col">
                    @Html.ActionLink("Add new Product", "Create", "Product", new { @class = "btn btn-primary"})
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th>@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <a href="@Url.Action("View", "Product", new { id = product.Id })" class="btn btn-primary">View</a>

                        <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-warning">Edit</a>

                        <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger delete-btn" onclick="confirmDelete()">Delete</a>

                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(() => {
        var searchValue = $("#searchTxt").val()

        $.ajax({
            url: "Product/Listing",
            data: { search: searchValue }
        }).done(function (data) {
            $(".tableContainer").html(data);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
           
        });

    })

    const confirmDelete = () => {
        if (!confirm("Are you sure you want to delete it?")) {
            event.preventDefault();
        }
        else true;
    }

</script>