@model Product
@{
    ViewBag.Title = "View";
}

<h2>@Model.Id</h2>

<form >
    <h2>Edit Product</h2>
    <label>Name</label>
    <input name="Name" value="@Model.Name" readonly/>
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" readonly/>
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" readonly/>
    <br />
    @Html.ActionLink("Back to List", "Index", "Product", null, new { @class = "btn btn-link" })
</form>